@{
    ViewBag.Title = "Home Page";
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">


        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="~/Content/images/banner2.png" alt="">
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '50%' }">
                        <div class="text">
                            <span class="subheading">#MutluYetim</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">Yetimlerin Yüzü Seninle Gülsün.</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
